.navbar{
    height: 4.5rem;
    width: 100vw;
    box-shadow: 0 5px 9px var(--shadow-color);
    background-color: var(--background-color);
    color: var(--text-color);
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    display: flex;
    .logo{
        font-size: 1.5rem;
        font-weight: bolder;
        color: var(--primary-color);
        text-decoration: none;
        text-shadow: 0 1px 3px var(--shadow-color);
        span{
            color: black;
        }
    }
    .nav-links{
        // display: flex;
        a{
            margin-left: 1.5rem;
            text-decoration: none;
            color: var(--text-color);
            text-transform: uppercase;
            position: relative;
            font-size: 0.9em;
            &::before{
                content: '';
                display: inline-block;
                height: 3px;
                width: 100%;
                background-color: var(--primary-color);
                position: absolute;
                bottom: -10px;
                // left: 0;
                transform: scaleX(0);
                transition: getAnimationDuration(0.2s) ease-in-out;
            }
            &:hover{
                &::before{
                    transform: scaleX(1);
                }
                // background-color: rgb(218, 216, 216);
                color: var(--primary-color);
                border-radius: 7px;
            }
            &.active{
                color: var(--primary-color);
                font-weight: bolder;
            }
            // letter-spacing: 1rem;
        }
    }

    .sidebar-btn{
        height: 1.8rem;
        width: 2.2rem;
        position: relative;
        cursor: pointer; 
        display: none;  
        .bar{
            border-radius: 1rem;
            height: 6px;
            width: 100%;
            background-color: var(--text-color);
            position: absolute;
            transition: transform;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 50%;   
                transform-origin: right;
                transform: scaleX(0.8) translateY(-50%);
            }
            &:nth-child(3){
                top: 100%;   
                transform-origin: right;
                transform: scaleX(1.2) translateY(-100%);
            }
        }
        &.active{
            .bar{
                transform-origin: center;
                top: 50%;
                &:nth-child(1){
                    transform: scale(1) rotate(45deg) translate(0, -50%);
                }
                &:nth-child(2){
                    transform: scaleX(0) translateY(-50%);
                }
                &:nth-child(3){
                    transform: translate(0, -50%) scale(1) rotate(-45deg) ;
                }
            }
        }
    }
    
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--background-color);
    padding-right: 0.2rem;
    // text-decoration: none;

    animation: getAnimationDuration(0.5s) slideInLeft;
    box-shadow: 0 0 0 100rem rgba(0, 0, 0, 0.2),
                0.2rem 0 0.3rem var(--shadow-color); 
    .sidebar-links{
        display: block;
        padding: 0.5rem;
        // padding-left: 0.8rem;
        margin-bottom: 0.8rem;
        border-radius: 7px 7px 7px;
        text-decoration: none;
        color: var(--text-color);
        border-left: 0.5rem solid transparent;
        font-size: 1rem;
        font-weight: 400;
        // transform: translateX(-100%);
        animation: getAnimationDuration(0.9s) slideInLeft forwards;

        @for $i from 1 through 5{
            &:nth-child(#{$i}){
                animation-delay: #{$i * 0.1}s;
            }
        }
        &.active{
            border-left: 0.5rem solid var(--primary-color);
        }
        &:hover{
            border-left-color: var(--primary-color);
            transition: 0.5s ease-in-out;
            background-color: rgba(0, 0, 0, 0.09);
        }
        svg{
            width: 1em;
            margin-right: 0.5rem;
            color: var(--text-color);
        }

    }
}